@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&family=Geologica:wght@100..900&display=swap');
html {
  height: 100vh;
  background-color: rgb(245, 153, 17);
  background: url(./assets/pexels-pixabay-209831.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: "Geologica", sans-serif;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.title {
  text-align: center;
  margin: 40px;
  color: rgb(174, 95, 95);
  font-size: 50px;
}
.cardContainer {
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
  align-items: center;
  text-align: center;
  margin: 30px;
  border: 5px solid rgb(50, 56, 55);
  border-radius: 50px;
  padding: 5px 20px 30px 20px;
  color:white;
  background: linear-gradient(rgb(14, 83, 143), rgb(41, 167, 129));
  /* background-color: black; */
  font-size: 35px;

}

.searchContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
  
}

.searchBtn {
  margin-left: 10px;
  background-color: rgb(18, 18, 18);
  color: white;
  padding: 15px 25px ;
  border: none;
  border-radius: 40px;
  font-size: 20px;
  cursor: pointer;
}
.searchBtn:hover {
  background-color:rgb(59, 57, 57); 
}

.searchInput {
  padding: 10px 50px;
  text-align: center;
  font-size: 25px;
  border-radius: 30px;
}

.icon {
  width: 150px;
  /* margin: 5px; */
}

.humiditySpeed{
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.humidity {
  display: flex;
  flex-direction: column;
  margin-right: 18px;
}

.humiditytitle {
  font-size: 30px;
  text-align: center;
}

.wind {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}

.windtitle {
  font-size: 30px;
  text-align: center;
}

.cityName {
  margin-top: 10px;
  margin-bottom: 15px;
}

.temp {
  margin-bottom: 15px;
}
.feels {
  margin-bottom: 15px;
}

.weatherType {
  margin-bottom: 15px;
}

@media all and (max-width:450px) {
  .searchInput{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
  }
  .cardContainer{
    margin: 20px;
    margin-top: 30px;
  }
}

@media all and (max-width:400px) {
  .searchInput{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
  }
  .cardContainer{
    margin: 30px;
  }
}